mule-cloud-connector-maven-plugin/src/it/it006-arrays/src/test/resources/sum-all.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Cloud Connector Development Kit
    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:arrays="http://www.mulesoft.org/schema/mule/arrays"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/arrays http://www.mulesoft.org/schema/mule/arrays/1.1-SNAPSHOT/mule-arrays.xsd">

    <arrays:config/>

    <flow name="sumAllFlow">
        <arrays:sum-all>
            <arrays:numbers>
                <arrays:number>4</arrays:number>
                <arrays:number>2</arrays:number>
                <arrays:number>#[string:3]</arrays:number> <!-- made sure that the evaluator is being called for each element -->
                <arrays:number>#[string:6]</arrays:number>
            </arrays:numbers>
        </arrays:sum-all>
    </flow>

    <flow name="sumAllFromGenericListFlow">
        <arrays:sum-all-from-generic-list>
            <arrays:numbers>
                <arrays:number>4</arrays:number>
                <arrays:number>2</arrays:number>
                <arrays:number>3</arrays:number>
                <arrays:number>6</arrays:number>
            </arrays:numbers>
        </arrays:sum-all-from-generic-list>
    </flow>

    <flow name="sumAllColors">
        <arrays:sum-all-colors>
            <arrays:colors>
                <arrays:color>Red</arrays:color> <!-- this are actually enum values RED=2 GREEN=4 BLUE=8 -->
                <arrays:color>Green</arrays:color>
                <arrays:color>Blue</arrays:color>
                <arrays:color>Blue</arrays:color>
                <arrays:color>Red</arrays:color>
            </arrays:colors>
        </arrays:sum-all-colors>
    </flow>

</mule>
