mule-cloud-connector-integration-tests/src/test/resources/maps-integration-test/src/test/resources/maps.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Cloud Connector Development Kit
    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:maps="http://www.mulesoft.org/schema/mule/maps"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/maps http://www.mulesoft.org/schema/mule/maps/1.0/mule-maps.xsd">

    <flow name="countKeysFlow">
        <maps:count-keys>    <!-- this operation receives an array of primitive integers -->
            <maps:strings>
                <maps:string key="key1" value="the"/>
                <maps:string key="key2" value="web"/>
                <maps:string key="key3" value="#[string:middleware"/> <!-- make sure that the evaluator is being called for each element -->
                <maps:string key="key4" value="company"/>
            </maps:strings>
        </maps:count-keys>
    </flow>

    <flow name="countKeysWithEnumFlow">
        <maps:count-keys-with-enum> <!-- this operation receives a List<Integer> -->
            <maps:colors>
                <maps:color key="Red" value="red"/>
                <maps:color key="Green" value="green"/>
                <maps:color key="Blue" value="blue"/>
                <maps:color key="Red" value="red"/>   <!-- this last three will overwrite the previous three -->
                <maps:color key="Green" value="green"/>
                <maps:color key="Blue" value="blue"/>
            </maps:colors>
        </maps:count-keys-with-enum>
    </flow>

    <flow name="getFirstKeyFlow">
        <maps:get-first-key>
            <maps:strings>
                <maps:string key="#[string:company]" value="mulesoft"/>
            </maps:strings>
        </maps:get-first-key>
    </flow>

    <flow name="getFirstValueFlow">
        <maps:get-first-value>
            <maps:strings>
                <maps:string key="company" value="#[string:mulesoft]"/>
            </maps:strings>
        </maps:get-first-value>
    </flow>

</mule>
