mule-cloud-connector-archetype/src/main/resources/archetype-resources/src/test/resources/__cloudServiceLower__-namespace-config.xml
#set($cloudServiceLower = "${cloudService.toLowerCase()}")
#set($MuleMajorMinorVersion = "$muleVersion.substring(0, 3)")
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Cloud Connector Development Kit
    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:${cloudServiceLower}="http://www.mulesoft.org/schema/mule/${cloudServiceLower}"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/${MuleMajorMinorVersion}/mule.xsd
                          http://www.mulesoft.org/schema/mule/${cloudServiceLower} http://www.mulesoft.org/schema/mule/${cloudServiceLower}/${MuleMajorMinorVersion}/mule-${cloudServiceLower}.xsd">

        <!--
           Declare one flow like this one per element you add in your schema.

           See the comment in ${cloudService}NamespaceHandlerTestCase for an example how to send
           Mule events directly to this flow.

       <flow name="theFlow">
           <${cloudServiceLower}:operation parameter="#[payload]"/>
       </flow>
        -->
</mule>
